<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <title>{{title}}</title>
</head>
<body>
    <div style="height:20px; border: solid blue 2px; background-color: green;">
        <span style="float: left;">
            <a href="/YMSBlog/createView" style="color:white; margin-right: 20px;">Create</a>
            <a href="/YMSBlog/listView" style="color:white; margin-right: 20px;">Read</a>
        </span>
        <span style="float: right;">
            <a href="/YMSBlog/home" style="color:white; margin-right: 40px;">Home</a>
            <a href="/YMSBlog/admin" style="color:white; margin-right: 40px;">Admin</a>
            <a href="/accounts/login" style="color:white; margin-right: 40px;">Login</a>
            <a href="/accounts/logout" style="color:white;">Logout</a>
        </span>
    </div>

    {% block body_part %}
    {% endblock %}

    <div style="height:20px; border: solid blue 2px; background-color: green; margin-top: 20px;">This is Footer</div>
</body>
</html>


