<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>HTML AND CSS</title>
	<style>
		 body{background-color: #d4d5e8; height:100%;}
		 header{color: green;text-align: center;}
		.section_heading_content {color:white; margin-left:40%;font-size:25px;}
		.section_div{background-color:rgba(0, 179, 110, 0.75);width:100%;height:100%;padding-bottom:10px;padding-top:10px}  
		.spacing_section_div{width:100%; height:30px;}
	</style>
	<!-- Remember to include jQuery :) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

<!-- jQuery Modal -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
</head>
<body>
<section>
<header><h1>Welcome</h1></header>

<!-- My Subject Section -->
<section class="section_div">
<div><span class="section_heading_content">My Subjects</span><div><br/>
<div class="section_contents">
    <table width="100%">
		<tr>
			<td>=> Go &nbsp; <a href="/blog/website/go">here</a><br/></td>
		</tr>
	</table>	
<div>
</section> 
<div class="spacing_section_div"></div>

</section>
<footer>
</footer>

<!-- Modal -->
<div id="ex1" class="modal" style="height:20%;">
  <div style="text-align:center;font-size:22px; padding-bottom:10px;">
        Ajax and More
  </div>
  <span style="float:left;">Ajax: &nbsp; <a href="19 _FrontEnd_And_More\01_Core_Ajax">here</a> </span>
  <span style="float:right;">JQuery: &nbsp; <a href="19 _FrontEnd_And_More\02 _Jquery">here</a></span> </br>
  <span style="float:left;">AngularJs: &nbsp; <a href="19 _FrontEnd_And_More\03_AngularJs">here</a> </span>
  <span style="float:right;">Errata: &nbsp; <a href="19 _FrontEnd_And_More\04 _Errata">here</a></span> </br>
  <span style="float:left;">DevOp and More: &nbsp; <a href="19 _FrontEnd_And_More\05_Dev_Ops_and_others">here</a></span>
  <span style="float:right;">My Notes: &nbsp; <a href="04_Books\06 _Yoogesh_Notes">here</a></span></br>
  <span style="float:left;">Trainings: &nbsp; <a href="50_Extra\02_Trainings">here</a></span>
</div>

<!-- Modal For Amazon -->
<div id="ex2" class="modal" style="height:20%;">
  <div style="text-align:center;font-size:22px; padding-bottom:10px;">
        Amzaon Courses
  </div>
  <span style="float:left;">Amazon AWS Solution Arcitect: &nbsp; <a href="21_Amazon_Aws\01_Amazon_Aws_Solution_Architect\Amazon_Aws_Solution_Architect.html">here</a> </span>
</div>

<!-- Modal For Python -->
<div id="id_pythonCourses" class="modal" style="height:auto;">
	<div style="text-align:center;font-size:22px; padding-bottom:10px;">
		<span style="color: green; font-size: 16px;">Python Courses</span>
	</div>

	<span style="float:left; font-size: 15px;">Python: &nbsp; <a href="22_Python/Python.html">here</a> </span>
	<span style="float:right; font-size: 15px;">Machine Learning: &nbsp; <a href="23_Machine_Learning\MachineLearning.html">here</a> </span>
	<br><span style="padding-bottom: 5px;"></span>
</div>

<!-- Modal For Computer Science -->
<div id="computer_Science_cs1" class="modal" style="height:auto;">
	<div style="text-align:center;font-size:22px; padding-bottom:10px;">
		<span style="color: green; font-size: 16px;">Computer Science Courses</span>
	</div>

	<span style="float:left; font-size: 10px;">Operating_System_Concept_C++: &nbsp; <a href="04_Books\08_Computer_Science_Related_Books\003 _Operating_System Concepts_Essentials_Silberschatz.pdf">here</a> </span>
	<span style="float:right; font-size: 10px;">Operating_System_Concept_Java: &nbsp; <a href="04_Books\08_Computer_Science_Related_Books\004_Operating_System_Concepts_with_Java_8th.pdf">here</a> </span>
	<br><span style="padding-bottom: 5px;"></span>

	<!-- Seperator Start --></br><!-- Seperator End -->
	
	<div style="text-align:center;font-size:22px; padding-bottom:10px;">
			<span style="color: green; font-size: 16px;">Virtual University Computer Science Courses</span>
	</div>

	<span style="float:left; font-size: 10px;">CS604_Operating_System: &nbsp; <a href="04_Books\08_Computer_Science_Related_Books\002_Operating_System_CS604.pdf">here</a> </span>
	<span style="float:right; font-size: 10px;">CS607_Artificial Inteligence: &nbsp; <a href="04_Books\08_Computer_Science_Related_Books\001_Artificial_Inteligence_CS607.pdf">here</a> </span>
	<br><span style="padding-bottom: 5px;"></span>
	<span style="float:left; font-size: 10px;">CS401_Computer_Architecture: &nbsp; <a href="04_Books\08_Computer_Science_Related_Books\005_Computer_Architecture_and_Assembly_Language_CS401.pdf">here</a> </span>
</div>

<script>
</script>
</body>
</html>

