<!DOCTYPE html>   <!-- must provide this DOCTYPE in a child html -->
{% extends 'blog/common/base.html'%}
{% load static %}
{% block body_part %}
<!--You code starts here -->
<!-- This is a ginga2 template language -->

{% if tag %}
<h1>Posts tagged with <strong>{{tag.name}}</strong></h1>
{%else%}
<h1>All Post Results</strong></h1>
{% endif %}

{% if blogs %}
<table>
    <thead>
    <th>ID</th>
    <th>Title</th>
    <th>author</th>
    <th>publish</th>
    <th>Slug</th>
    <th>Tags</th>
    </thead>
    {% for next in blogs %}
    <tr>
        <td>{{next.id}}</td>
        <td><a href="{{next.get_absolute_url}}">{{next.title}}</a></td>
        <td>{{next.author}}</td>
        <td>{{next.publish}}</td>
        <td>{{next.slug}}</td>
        <td>
            {%for tag in next.tags.all%}
                <a href="{%url 'allPostsByTagName' tag.slug%}"><strong>{{tag.name}}</strong></a>
                {% if not forloop.last%},&nbsp;{%endif%}
                <!-- <a href="/blog/tag/{{tag.name|lower}}"><strong>{{tag.name|lower}}</strong></a>,&nbsp; -->
             {%endfor%}
             <!-- {{next.tags.all|join:', '}} -->
        </td>
    </tr>
    {% endfor %}

</table>

{% if classBasedView %}
    {%include 'blog/common/pagination.html' with page=blogs%}
{% else %}
    {%include 'blog/common/pagination.html' with page=page_obj%}
{% endif %}

{% else %}
<p>No Posts found</p>
{% endif %}


<!-- You code ends here -->
{% endblock %}

