td, table{
    margin:left;
    border:1px solid #7a83af;
    color:black;
    background:white;
    font-size:10px;
    border-collapse: collapse;
    margin-top:20px;
}

thead{
    color:white;
    background: green;
}

.yms_form{
    margin-top: 10px;
    border:solid gray 2px;
    background-color: #f1e8e8;
    width:25%;
    padding:10px;
}

.yms_button{
    margin-left: 35%;
}

.yms_form .errorlist {
    color:red;
    list-style: none;
    margin-left: -39px
}

.right_side_view {
    float: right;
    padding-right: 10px;
    padding-left: 10px;
    border: 1px solid blue;
    background-color: green;
    width: 30%;
    margin-top: 10px;
    color: white;
}