<!DOCTYPE html>
{% extends 'blog/common/base.html'%}

{% block body_part %}
        <h2>Add Post</h2>

<!-- Handling form -->
<div class="yms_form" style="width:50%;">

    <!-- <form action="/login" method="POST"> -->
    <!-- Since you have not provided the action below, the same view action i.e. profile/ is called -->
    <form method="POST">
        {{form.as_p}}
        {% csrf_token %}
        <input type="submit" value="Create Admin Account" class="yms_button"/>
    </form>
</div>
{% endblock %}