<!DOCTYPE html>   <!-- must provide this DOCTYPE in a child html -->
{% extends 'twmprofile/common/base.html'%}
{% load static %}


{% block body_part %}
<div style="margin: 15px;">
    <img class="sunny" src="{% static "image/django.png" %}">
</div>

<p class="yms">Today Date: {{today}}</p>

<!-- This is a ginga2 template language -->
{% if profiles %}
<table>
    <thead>
    <th>ID</th>
    <th>Username</th>
    <th>FirstName</th>
    <th>LastName</th>
    <th>Age</th>
    <th>Action</th>
    </thead>
    {% for next in profiles %}
    <tr>
        <td>{{next.id}}</td>
        <td>{{next.username}}</td>
        <td>{{next.firstName}}</td>
        <td>{{next.lastName}}</td>
        <td>{{next.age}}</td>
        <td><a href="/twmprofile/updateProfile/{{next.id}}"><strong>Update</strong></a> &nbsp; &nbsp; <a href="/twmprofile/deleteProfile/{{next.id}}"><strong>Delete</strong></a></td>
    </tr>
    {% endfor %}

</table>
{% else %}
<p>No profiles found</p>
{% endif %}

<!-- Handling form -->
<div class="yms_form">

    <!-- <form action="/login" method="POST"> -->
    <!-- Since you have not provided the action below, the same view action i.e. profile/ is called -->
    <form method="POST">
        {{form.as_p}}
        {% csrf_token %}
        <input type="submit" value="Signup" class="yms_button"/>
    </form>
</div>
{% endblock %}

