<!DOCTYPE html>
{% extends 'twmprofile/common/base.html'%}

{% block body_part %}

<h1>Profile Detail</h1>

<table>
	<tr>
		<thead>
			<th>Key</th>
			<th>Vale</th>
		</thead>
	</tr>

	<tr>
		<td>Primary Key/id</td>
		<td>{{profile.id}}</td>
	</tr>

	<tr>
		<td> Username </td>
		<td>{{profile.username}}</td>
	</tr>

	<tr>
		<td>firstName</td>
		<td>{{profile.firstName}}</td>
	</tr>

	<tr>
		<td>lastName</td>
		<td>{{profile.lastName}}</td>
	</tr>

	<tr>
		<td>Age</td>
		<td>{{profile.age}}</td>
	</tr>

</table>

{% endblock %}