<!DOCTYPE html>
{% extends 'twmprofile/common/base.html'%}

{% block body_part %}
        <h>Update Profile</h></br>
<div class="yms_form">
   <form method="POST">
       {% csrf_token %}
       Username: <input type="text" name="username" value="{{profile.username}}"></br>
       Password: <input type="text" name="password" value="{{profile.password}}"></br>
       FirstName: <input type="text" name="firstName" value="{{profile.firstName}}"></br>
       LastName: <input type="text" name="lastName" value="{{profile.lastName}}"></br>
       Age: <input type="text" name="age" value="{{profile.age}}"></br>
       <input type="submit" value="Update"/>
   </form>
</div>

{% endblock %}