<!DOCTYPE html>   <!-- must provide this DOCTYPE in a child html -->
{% extends 'twmprofile/common/main.html'%}
{% load static %}


{% block body_part %}
<div style="margin: 15px;">
    <img class="sunny" src="{% static "image/django.png" %}"
</div>

<p><a href="/accounts/login">Login</a></p>
<span><a href="/accounts/logout">Logout</a></span>

<p class="yms">Today Date: {{today}}</p>

<!-- Handling form  Start -->
<div class="yms_form" style="width:36%;">

    <!-- <form action="/login" method="POST"> -->
    <!-- Since you have not provided the action below, the same view action i.e. profile/ is called -->
    <form method="POST">
        {{form.as_p}}
        {% csrf_token %}
        <input type="submit" value="Signup" class="yms_button"/>
    </form>
</div>

<!-- Handling form End -->

{% endblock %}

